<div class="ml-[15%] w-full h-screen bg-white overflow-y-auto">
    <!-- Aquí se inserta el iframe -->
    <iframe title="dashboard sag" width="100%" height="850" src="https://app.powerbi.com/view?r=eyJrIjoiYzQyZmU5NGMtZDFhYi00MWNjLTg3NjAtNWM4ZWIxOGEyNzk0IiwidCI6IjEwMjU1ZDY4LTZmOGYtNDVlMy1iNzRiLWJmY2QxYWYyODNhMiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
</div>
